.profile__change-avatar {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 26px;
  height: 26px;
  opacity: 0;
  visibility: visible;
  background: url("../../../images/edit_avatar_button.svg");
}
