.intro__info {
  font-family: "Inter", "Arial", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
  text-align: center;
  color: #ffffff;
  margin-top: 15px;
  margin-bottom: 0;
}
