.popup__container {
  background-color: white;
  max-width: 430px;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  padding-left: 36px;
  padding-right: 36px;
  position: relative;
  margin: 0 auto;
}
