.profile__info {
  display: flex;
  flex-direction: column;
  padding-top: 0;
  padding-bottom: 0;
  margin-left: 30px;
  align-self: center;
}

@media screen and (max-width: 620px) {
  .profile__info {
    width: 400px;
    margin-left: 0;
  }
}

@media screen and (max-width: 500px) {
  .profile__info {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
  }
}
